<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/resources :: head('Pizza details')"></head>
<body>
<div class="container">
    <h1 th:text="|Name: ${pizza.name}|"></h1>
    <img th:src="${pizza.imgUrl}" alt="pizza">
    <h2>Description: <span class="fw-normal" th:text="${pizza.description}"></span></h2>
    <h3>Price: <span class="fw-normal" th:text="|${pizza.price} &euro;|"></span></h3>
    <div class="mt-3">
        <a class="btn btn-primary" th:href="@{/pizzas}">Back to pizzas</a>
    </div>
</div>

<th:block th:replace="fragments/resources :: script"></th:block>
</body>
</html>